{% extends "layout.html" %}
{% block content %}
<div class="about">
   <nav>
    <a href="#page1">Home</a>
    <a href="#page2">About</a>
    <a href="#page3">Projects</a>
    <a href="#page4">Contact</a>
</nav>


  <div class="sect sectOne" id="page1">
      <div class="container">    
      
  <div class="intro intromd intro_one" id = "box1">
    <hr>
    <h2 class="text-center" id = "maintext"><font color="white"><strong>Welcome to the Portfolio Page of <br><span id = "name">Shaileja Singh</span></strong></font></h2>
    <hr>
    <br>
    <br>
<div class= "btn-group btn-group-justified mynav1">
    <a href="#" class="btn btn-default btn-lg btn-responsive fontwt" style = "color:white">About me</a>
    <a href="#" class="btn btn-default btn-lg btn-responsive fontwt" style = "color:white">My Skills</a>
    <a href="#" class="btn btn-default btn-lg btn-responsive fontwt" style = "color:white">Achievements</a>
    <a href="#" class="btn btn-default btn-lg btn-responsive fontwt" style = "color:white">Projects</a>
    <a href="#" class="btn btn-default btn-lg btn-responsive fontwt" style = "color:white">Experience</a>
 </div></div>
        <div class = "container" id = "anotherbox">
        <div class = "row">
          <div class= "mynav" id = "small-buttons"> 
    <a href="#" class="btn btn-default btn-md btn-block btn-responsive fontwt" style = "color:white">About me</a>
    <a href="#" class="btn btn-default btn-block btn-responsive fontwt" style = "color:white">My Skills</a>
    <a href="#" class="btn btn-default btn-block btn-responsive fontwt" style = "color:white">Achievements</a>
    <a href="#" class="btn btn-default btn-block btn-responsive fontwt" style = "color:white">Projects</a>
    <a href="#" class="btn btn-default btn-block btn-responsive fontwt" style = "color:white">Experience</a>
          </div> </div> </div>
        <br>
        
    </div> 
    
</div>
<div class = "page"> 
</div>
  <div id="page2">
    <div class = "container">
      <br>
      <br>
      <h2 class = "text-center">About me</h2>
      <br>
      <br>
      <p>I am B.Tech Computer Science graduate from Delhi University's Indraprastha College For Women.</p>
    </div>
    </div>
<div class="sectThree" id="page3">
   <div class="container">
     <h3 class = "smalltext text-center"><font color=#3E3747>My Skills </font></h3>
     <hr class = "hline">
    <br>
    <div class = "container">
    <div class = "row">
      <div class = "col-sm-4">
        <div class = "skill"><h4><center>Technical Skills</center></h4>
        <hr>
         <p style = "font-family: Roboto Slab"> I can code in Python,C, C++, SQL, Java and JavaScript. I know HTML and all its libraries and frameworks. I have created websites in Django the framework of Python. My major fields of interest are web technologies, Software Development and Information Security.</p>
          <br>
        </div>
      </div>
      <div class = "col-sm-4">
        <div class = "skill"><h4><center>Communication</center></h4>
        <hr>
          <p style = "font-family: Roboto Slab"></p>
          <br>
          <br>
        </div>
      </div>
      <div class = "col-sm-4">
        <div class = "skill"><h4><center>Leadership</center></h4>
        <hr>
          <p style = "font-family: Roboto Slab"> </p>
        <br>
     
      </div>
      </div>
      </div>
    </div>
 
     <h3 class = "smalltext text-center"><font color=#3E3747>Achievements </font></h3>
     <hr class = "hline">
     <div class = "row">
       <ul class = "list" id = "list">
       
         <div class = "col-md-12">
       <li style = "font-family: Roboto Slab"><i class = "fa fa-angle-double-right"></i> .</li>
         </div>
         <div class = "col-md-12">  
         <li style = "font-family: Roboto Slab"><i class = "fa fa-angle-double-right"></i> </li>
         </div>
          <div class = "col-md-12">
            <li style = "font-family: Roboto Slab"><i class = "fa fa-angle-double-right"></i> </li>
         </div>
         <div class = "col-md-12">
            <li style = "font-family: Roboto Slab"><i class = "fa fa-angle-double-right"></i> </li>
         </div>
         <div class = "col-md-12">
         <li style = "font-family: Roboto Slab"><i class = "fa fa-angle-double-right"></i> </li>
           <br>
           <br>
         </div>
           </ul>
     </div>
  </div>
  
</div>
<div id = "experience">
<div class = "container">
  
  
<h3 class = "text-center">Experience</h3>
<table> <tr>
  <td><img align = "left" src = "https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAThAAAAJDJjYzI5NTNkLTJhOGQtNDdmNi04MDZkLWFjZWE0NTI3ODQ1NQ.png" class = "img-responsive"></td>
  <td>
  <div class = "exp" id = "firstbox">
    <h4><font color = "white">ContentNinja</font></h4>
    </div>
  <div class = "exp">
    <p> <b> </p></div>
    </td></tr>
  
  <tr><td><img align = "left" src = "http://www.onlinesarkarijobs.com/wp-content/uploads/2016/12/drdo.png" class = "img-responsive"></td>
    <td>
  <div class = "exp" id = "firstbox">
    <h4><font color = "white">Defense Research and Development Organisation</font></h4>
  </div>
  <div class = "exp">
    <p> <b>Python Developer Intern | Qctober-January 2018 | Noida, India </b> <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  
    </td>
  </tr>
  
  <tr><td><img align = "left" src = "http://www.vraghunathan.com/images/iim_logo.jpg" class = "img-responsive"></td>
    <td>
  <div class = "exp">
    <h4><font color = "white">A</font></h4>
  </div>
    <div class = "exp"> <p> <b>Summer Intern | June-July 2015 | Ahmedabad, India </b> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
    </td>
  </tr>
  </table>
  <br>
  </div>
</div>
<div id = "projects">
  <h3 class = "text-center">Projects</h3>
  <br>
  <div class = "container">
  <div class = "exp exp1">
    <h4>Digital Watermarking</h4>
  </div>
    <div class = "exp"> <p> <b>August 2016-Present | Delhi, India </b> <br>bcfh.</p></div>
  
  <div class = "exp exp1">
    <h4>Study and Implementation of the Cryptographic Scheme RSA</h4>
  </div>
    <div class = "exp"> <p> <b>June-August 2016 | Delhi, India </b> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  
  <div class = "exp exp1">
    <h4>Post-Quantum Lattice-Based Cryptographic Scheme NTRU</h4>
  </div>
    <div class = "exp"> <p> <b>August-November 2014 | Delhi, India </b> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
  </div>
</div>
<div class = "container" style="margin-bottom:2em;margin-top:1em"><h3 class = "text-center">Projects on CodePen</h3>
  
              <div class = "col-md-12"><div class = "col-md-4 col-sm-6"><div class = "pitem"><img src = "http://www.planwallpaper.com/static/images/518169-backgrounds.jpg" class = "img" style = "overflow:hidden; height:12em; width:100%"><button style="width:100%" class = "btn btn-primary hidden">Go to </button></div> </div>
              <div class = "col-md-4 col-sm-6"><div class = "pitem"><img src ="http://www.planwallpaper.com/static/images/background_image_9.jpg" class = "img img-responsive" style = "overflow:hidden; height:12em; width:100%"></div> </div>
              <div class = "col-md-4 col-sm-6"><div class = "pitem"><img src ="http://www.planwallpaper.com/static/images/background-image-1_ubNTL68.jpg" class = "img img-responsive" style = "height:12em; width:100%"></div> </div>
  </div>
       <div class = "col-md-12"><div class = "col-md-4 col-sm-6"><div class = "pitem"><img src="http://contentninja.in/images/logo2.png" class="img img-responsive" style="width:auto"></div> </div>
              <div class = "col-md-4 col-sm-6"><div class = "pitem"><img src ="http://contentninja.in/images/logo2.png" class="img img-responsive"></div> </div>
         <div class = "col-md-4 col-sm-6"><div class = "pitem"><img src ="http://contentninja.in/images/logo2.png" class="img img-responsive"></div> </div>
  </div>

  
</div>

<div class = "page">
  <br>
  <br>
  <br>
  <h2 class = "text-center">Get in touch!</h2>
  <br>
  <br>
  <br>
  <div id="fawesomeicons">
        <center><a href="URL-HERE" title="Facebook" target="_blank" rel="nofollow"><i class = "fa fa-facebook-official"></i></a>
        <a href="URL-HERE" title="LinkedIn" target="_blank" rel="nofollow"><i class = "fa fa-linkedin"></i></a>
        <a href="URL-HERE" title="CodePen" target="_blank" rel="nofollow"><i class = "fa fa-codepen"></i></a>
        <a href="URL-HERE" title="FreeCodeCamp" target="_blank" rel="nofollow"><i class = "fa fa-free-code-camp"></i></a>
        <a href="URL-HERE" title="Twitter" target="_blank" rel="nofollow"><i class = "fa fa-twitter"></i></a>
        <a href="URL-HERE" title="Quora" target="_blank" rel="nofollow"><i class = "fa fa-quora"></i></a>
          </center> </div>
</div>
  <div class="subSection">
   <br> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>  
    <br>
    <br>
</div> 
</div>
{% endblock %}
